table {
	margin: 1em auto;
	border-collapse: collapse;
	width: calc(100% - 2em);
	font: normal 0.875em/1.4 $fnt__body;
}

th,
td {
	border: 1px solid $clr__black;
	padding: 0.25em;
}

th {
	&[scope=row] {
		text-align: right;
	}
}

td {
	@media (min-width: 620px) {
		text-align: center;
	}
}
