table {
	margin: 1em auto;
	border-collapse: collapse;
	width: calc(100% - 2em);
	font: normal 0.875em/1.4 $fnt__body;
}

th,
td {
	border: 1px solid $clr__black;
}

th {
	padding: 0.25em;

	&[scope=row] {
		text-align: right;
	}
}

td {
	p {
		margin: 0;
		padding: 0.5em;
	}

	@media (min-width: 620px) {
		padding: 0.25em;
		text-align: center;
	}
}
