// ================================================== PATHS

$pth__img: '../images/';


// ================================================== COLORS

$clr__black: #000000;
$clr__white: #FFFFFF;

$clr__rating_0: #ff5733;
$clr__rating_1: #ffbd33;
$clr__rating_2: #dbff33;
$clr__rating_3: #33ffbd;


// ================================================== FONTS

@import url('https://fonts.googleapis.com/css?family=Rozha+One');

$fnt__heading: 'Rozha One', serif;
$fnt__body: Arial, Helvetica, sans-serif;
