// ================================================== PATHS

$pth__img: '../images/';


// ================================================== COLORS

$clr__black: #000000;
$clr__white: #FFFFFF;


// ================================================== FONTS

@import url('https://fonts.googleapis.com/css?family=Rozha+One');

$fnt__heading: 'Rozha One', serif;
$fnt__body: Arial, Helvetica, sans-serif;
