// ================================================== PATHS

$pth__img: '../images/';


// ================================================== COLORS

$clr__black: #6A2E14;
$clr__white: #F4DFB8;

$clr__rating_0: #EC7640;
$clr__rating_1: #ECCC40;
$clr__rating_2: #AFED8E;
$clr__rating_3: #8EAFED;


// ================================================== FONTS

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

$fnt__heading: 'Playfair Display', serif;
$fnt__body: Arial, Helvetica, sans-serif;
