extends _pug/__layout.pug

block variables
	-
		const $meta = {
			title: 'Monster Hunter World: Monster Weaknesses',
			desc: 'Elemental weaknesses for the monsters in Monster Hunter World.'
		};

block body
	main#js__app
