extends _partials/__layout.pug

block vars
	-
		var $meta = {
			title: 'Monster Hunter World: Monster Weaknesses',
			desc: 'Elemental weaknesses for the monsters on Monster Hunter World.'
		};

block body
	main#app
